<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>monitoring</title>
    <link rel="stylesheet" href="/static/css/header.css">    
    {% block header %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- ヘッダー -->
        <header>
            <h1>{% block title %}{% endblock %}</h1>
        </header>

        <!-- ページリンク -->
        <nav class="navigation">
            <ul>
            </ul>
        </nav>

        {% block content %} 
        {% endblock %}

    </div>

    {% block script %}{% endblock %}
    <!-- <script src="/static/js/heartbeat.js"></script> -->
</body>
</html>
