<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Iiさん個室</title>
    <link rel="stylesheet" href="/static/css/header.css">    
    {% block header %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
    <div class="container">
        <!-- ヘッダー -->
        <header>
            <h1>{% block title %}{% endblock %}</h1>
        </header>

        <!-- ページリンク -->
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}">リアルタイムモニタリング</a></li>
                <li><a href="{{ url_for('preview') }}">Preview</a></li>
            </ul>
        </nav>

        {% block content %} 
        {% endblock %}

    </div>

    {% block script %}{% endblock %}
</body>
</html>